<title>About Me!</title>
<h1>About Me!</h1>
<p> Welcome to my Website!!</p>
<p> <b>During my initial days of learning guitar I had trouble playing Barre Chords and other complex chords. So I thought of coming up with something that will help begineers. </b></p>
</br>
</br>
<div class="card" style="width: 18rem; background-color: #ffdde2">
<div class="card-body">
<img src="https://media-exp1.licdn.com/dms/image/C5603AQGbcGOL0CFCZQ/profile-displayphoto-shrink_400_400/0?e=1608768000&v=beta&t=QkuveCTo4Oq8kl2niGrTER86dO9TR5UoIu277dsAGlk" style="width:16rem;"
>
</div>
</div>
<br><br>
<div class="card" style="width: 18rem; background-color: #ffdde2">
  <div class="card-body">
    <h5 class="card-title">Akshat Chaturvedi</h5>
    <h6 class="card-subtitle mb-2 text-muted">always a student</h6>
    <p class="card-text">Hii!! This is my attempt to make a useful website for Guitar Begineers. All feedbacks to improve the features are welcome.</p>
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=akshatchaturvedi17@gmail.com&tf=1" class="card-link" target="_blank">Email link</a>
  </div>
</div>