<h1>About Me!</h1>
<p> Welcome to my Website!!</p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Akshat Chaturvedi</h5>
    <h6 class="card-subtitle mb-2 text-muted">always a student</h6>
    <p class="card-text">Hii!! This is my attempt to make a useful website for Guitar Begineers. All feedbacks to improve the features are welcome.</p>
    <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=akshatchaturvedi17@gmail.com&tf=1" class="card-link" target="_blank">Email link</a>
  </div>
</div>