<title>Bollywood Songs</title>
<h1> Bollywood Chords </h1>
</br>
<p> Hello Guys!! Here you can find the chords for your favourite bollywood songs in G Scale </p>

</br>

<ul class="list-group list-group-flush">
	<li class="list-group-item"> <a href='/bekhayali.html' style="color: black;"> <strong> <mark> Bekhayali </mark> </strong> </li>
	<li class="list-group-item"> <a href='/dil-ka-dariya.html' style="color: black;"> <strong> <mark> Dil ka Dariya </mark> </strong> </li>
	<li class="list-group-item"> <a href='/hawayein.html' style="color: black;"> <strong> <mark> Hawayein </mark> </strong> </li>
	<li class="list-group-item"> <a href='/nazm-nazm.html' style="color: black;"> <strong> <mark> Nazm Nazm </mark> </strong> </li>
	<li class="list-group-item"> <a href='/sun-mere-humsafar.html' style="color: black;"> <strong> <mark> Sun Mere Humsafar </mark> </strong> </a> </li>  
  
  
</ul>