<h1> Bollywood Chords </h1>
</br>
<p> Hello Guys!! Here you can find the chords for your favourite bollywood songs in G Scale </p>

</br>

<ul class="list-group list-group-flush">
  <li class="list-group-item"> <a href='/sun-mere-humsafar.html' style="color: black;"> <strong> Sun Mere Humsafar </strong> </a> </li>
  <li class="list-group-item"> <a href='/hawayein.html' style="color: black;"> <strong> Hawayein </strong> </li>
  <li class="list-group-item"> <a href='/bekhayali.html' style="color: black;"> <strong> Bekhayali </strong> </li>
  <li class="list-group-item"> <a href='/dil-ka-dariya.html' style="color: black;"> <strong> Dil ka Dariya </strong> </li>
  <li class="list-group-item"> <a href='/nazm-nazm.html' style="color: black;"> <strong> Nazm Nazm </strong> </li>
</ul>