<title>Cheatsheet</title>
<style>
button {
  border: 2px solid #008CBA;
  color: black;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
}

button:hover {
  background-color: #008CBA;
  color: white;
}

input[type=checkbox] {
  display: none;
}

.container img {
  margin: 75px;
  transition: transform 0.25s ease;
  cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > img {
  transform: scale(2);
  cursor: zoom-out;
}

</style>


<h3> Cheat-Sheet Guitar Theory </h3><br><br>

<a href="https://i.pinimg.com/564x/bb/a2/d4/bba2d40f9727322962b9f84f0962b9ca.jpg" target="_blank" style="color:black;"><button> CLICK TO DOWNLOAD CHART </button> </a> 

<center>
<div class="container">
  <input type="checkbox" id="zoomCheck">
  <label for="zoomCheck">
    <img src="https://i.pinimg.com/564x/bb/a2/d4/bba2d40f9727322962b9f84f0962b9ca.jpg">
  </label>
</div>
</center>
<h3> CAGED System Guitar Theory </h3><br><br>

<a href="https://i.pinimg.com/564x/63/4b/bf/634bbf1fb6e1889ec43799ced2b7fea5.jpg" target="_blank" style="color:black;"><button> CLICK TO DOWNLOAD CHART </button> </a>

<center>
<div class="container">
  <input type="checkbox" id="zoomCheck">
  <label for="zoomCheck">
    <img src="https://i.pinimg.com/564x/63/4b/bf/634bbf1fb6e1889ec43799ced2b7fea5.jpg">
  </label>
</div>
</center>

<h3> Guitar Fingering Chart & Finger Placements </h3><br><br>

<a href="https://cdn.lessons.com/assets/images/courses/guitar/guitar-chords-chart.jpg" target="_blank" style="color:black;"><button> CLICK TO DOWNLOAD CHART </button> </a> 

<center>
<div class="container">
  <input type="checkbox" id="zoomCheck">
  <label for="zoomCheck">
    <img src="https://cdn.lessons.com/assets/images/courses/guitar/guitar-chords-chart.jpg" width="750">
  </label>
</div>
</center>