<title> Chords </title>

<h2> Basic Chords in G-Scale </h2>
<br>
<li class="list-group-item">
<div>
	<b> G MAJOR CHORD: </b>
	<p>Place your third finger on the third fret of the low E string, second finger on the second fret of the A string, and your fourth finger on the third fret of the high E string. For the G major chord, you can strum all six strings.</p>
	<img src="https://guitarlessons-com.s3.amazonaws.com/media/blog/g-major-chord-hr.png" width="500">
</div>
<br><br>
<div>
	<b> E MINOR CHORD: </b>
	<p> Place your second finger on the second fret of the A string and your third finger on the second fret of the D string. For this chord, you can strum all six strings again.</p>
	<img src="https://guitarlessons-com.s3.amazonaws.com/media/blog/e-minor-chord-hr.png" width="500">
</div>
<br><br>
<div>
	<b> C MAJOR CHORD: </b>
	<p>Place your third finger on the third fret of the A string, second finger on the second fret of the D string, and first finger on the first fret of the B string. For the C major chord, strum just the top five strings, leaving the low E out.</p>
	<img src="https://guitarlessons-com.s3.amazonaws.com/media/blog/c-major-chord-hr.png" width="500">
</div>
<br><br>
<div>
	<b> D MAJOR CHORD: </b>
	<p>Place your first finger on the second fret of the G string, third finger on the third fret of the B string, and second finger on the second fret of the high E string. For the D major chord, leave the low E and A strings out, strumming just the top four strings.</p>
	<img src="https://guitarlessons-com.s3.amazonaws.com/media/blog/d-major-chord.png" width="500">
</div>
<br>
<center>
<b> Check out all the <mark>Bollywood songs</mark> that you can play using only these chords <a href="bollywood.html"> CHECK </a></b><br><br>
<b> Check out all the <mark>Hollywood songs</mark> that you can play using only these chords <a href="hollywood.html"> CHECK </a></b>
</center>
</li>
<br><br>
<h2> Guitar Chords Key Chart </h2>
<br><li class="list-group-item">
<p>
Below is a guitar chord key chart the major and minor keys.  A chord key chart outlines the diatonic chords, or the chords that naturally occur in a given key. Chord charts are useful when trying to figure out the key of a song. If you know the chords of a song, you can list them out and compare them to the chords in the chart to help determine the key.
<br>
These guitar key charts can also be used as a reference to help guide chord selection and substitution. This is particularly useful when writing your own chord progressions.
</p>
<br>

<div>
<h3> Major Keys Chord Chart </h3><br>
<p>
The key chart below describes the chords belonging to the major keys. The top row of the chart lists the intervals and qualities of the chord.
<br>
<b>Uppercase numerals represent major chords while lowercase represent minor chords.</b></p><br>
<center><img src="https://www.piano-keyboard-guide.com/wp-content/uploads/2015/04/music_chords_in_the_key_of_a_b_c_d_e_f_g_flat_sharp_major-765x1024.png" width="700"></center>
<br>
</div>

<div>
<h3> Minor Keys Chord Chart </h3><br>
<p>
The chart below lists out the chords for the minor keys. Again, the top row represents the interval for each chord.
<br>
<b>Uppercase numerals represent major chords while lowercase represent minor chords.</b></p><br>
<center><img src="https://i.pinimg.com/originals/1c/1c/7c/1c1c7c8c336c36fa1eda1ec4780f5cb0.png" width="700"></center>
<br>
</div>