<title>Hollywood Songs</title>
<h1> Hollywood Chords </h1>
</br>
<p> Hello Guys!! Here you can find the chords for your favourite hollywood songs in G Scale </p>

</br>
	
<ul class="list-group list-group-flush">
	<li class="list-group-item"> <a href='/perfect.html' style="color: black;"> <strong> <mark> Perfect </mark> </strong> </li>

	<li class="list-group-item"> <a href='/say_you_wont_let_go.html' style="color: black;"> <strong> <mark> Say You Won't Let Go </mark> </strong> </li>

	<li class="list-group-item"> <a href='/im_yours.html' style="color: black;"> <strong> <mark> I'm Yours </mark> </strong> </li>

	<li class="list-group-item"> <a href='/photograph.html' style="color: black;"> <strong> <mark>Photograph </mark> </strong> </li>
  
  	<li class="list-group-item"> <a href='/heyjude.html' style="color: black;"> <strong> <mark> Hey Jude!! </strong> </mark> </li>

</ul>

