<title> gScale </title>
<h1 class="font-weight-light"> Hey Guitarist!! </h1>
<br/>
<p class="lead"> G-Scale is the Easiest Way to Learn How To Play Guitar </p><br><br>

<div style="width: 100%; overflow: hidden;">
     <div style="width: 500px; float: left;"> 
     	<iframe src="https://giphy.com/embed/l4FGqizrUMlk7ZytG" width="480" height="266" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
     </div>
     <div style="margin-left: 550px; margin-bottom: 50px;">
     	<iframe src="https://giphy.com/embed/xTiTnBW2ETZoOnMcM0" width="400" height="440" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
     </div>
</div>


<div>
<img src="https://www.uberchord.com/wp-content/uploads/2016/07/keyofgmajorscale.png" width="700"
style="margin-left: 150px; margin-bottom: 50px;">
</div>
