<title>Music Theory</title>
<h1> Topics to Learn </h1>
</br>
<p> Music theory is the study of the practices and possibilities of music. Music theory is frequently concerned with describing how musicians and composers make music, including tuning systems and composition methods among other topics.
Music theory as a practical discipline encompasses the methods and concepts composers and other musicians use in creating music. </p>

</br>

<ul class="list-group list-group-flush">
	<li class="list-group-item"> <a href='/users/scales' style="color: black;"> <strong> <mark> Guitar Scales </mark> </strong> </a> <br> <br>
	<p> Guitar scales are organized sequences of notes played in an ascending or descending order that help you build finger strength and dexterity. Practicing guitar scales also make you more familiar with the notes on your fretboard, develop your musical ear and provide a framework for creating melodies for your own original songs <br>
	<a href='/users/scales' >  Learn more about scales 
	</p>
	</li>

	<li class="list-group-item"> <a href='/users/techniques' style="color: black;"> <strong> <mark> Guitar Techniques </mark> </strong> </a> <br> <br>
	<p> The more guitar techniques you have mastered the more weaponry you have at your fingertips to set yourself apart as a guitarist to be reckoned with.
	Each technique produces a different sound which is the essence of the type of music produced by the technique.<br>
	<a href='/users/techniques'>  Learn more about guitar techniques 
	</p>
	</li>

	<li class="list-group-item"> <a href='/users/types' style="color: black;"> <strong> <mark> Guitar Family </mark> </strong> </a> <br> <br>
	<p> There are a lot of types of guitars and each type feels and sounds different to play. Choosing the wrong type of guitar for your style of music can make it harder to learn and won’t sound right.

	Here, I will walk you through all types of guitars and explain which types are good for beginners, styles of music suitable for each type, and more.<br>
	<a href='/users/types'>  Find out which guitar suits best for you 
	</p>
	</li>

	  
  
</ul>