<title>Bekhayali Chords</title>
<h1> Bekhayali Chords </h1>
<br/>

<h4> Strumming Pattern </h4>
<p> D - UDUD - UDUD </p>
</br>
<img src="https://3.bp.blogspot.com/-rCvc0DSIh8g/XlzsJ_xJM4I/AAAAAAAAOno/hNDO87bEWIo7Lq1WsbPkbuCTEaV9jWamACK4BGAYYCw/s1600/Bekhayali%2BSong%2BLyrics%2B-%2BKabir%2BSingh.jpg" width="250" height="275">

<div>
</br>

<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0">
</div>
<div class="_3i1ps">
</div>
</div>
</div>
<code class="_1ck-_">

<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">
<mark>VERSE</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Bekhayali mein bhi tera
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">hi khayaal aaye
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Kyun bichhadna hai zaroori
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">ye sawaal aaye
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Teri nazdeekiyon ki khushi
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">behisaab thi
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Hisse mein faasle bhi tere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">bemisaal aaye
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Main jo tumse door hoon
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Kyun door main rahoon
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tera guroor hoon
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Aa tu faasla mita
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Tu khwaab sa mila
</span></span><span class="_2J-ci"><span class="_1zlI0">               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Kyun khwaab tod doon
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">ooo ooo ooo ooo
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">ooo ooo ooo ooo
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Bekhayali mein bhi tera
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">hi khayaal aaye
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Kyun bichhadna hai zaroori
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">ye sawaal aaye
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Thoda sa main khafa ho gaya
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">apne aap se
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Thoda sa tujhpe bhi bewajah hi
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">malaal aaye
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>INTERLUDE</mark>
</span><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Hai ye tadpan
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hai ye uljhan
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Kaise jee loon bina tere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Meri ab sab se hai annban
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Bante kyun ye Khuda mere
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>INTERLUDE</mark>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Ho</span>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Ho</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Ye jo log-baag hain
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Jungle ki aag hain
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Kyun aag mein jalun...
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Ye nakaam pyaar mein
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Khush hain haar mein
</span></span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Inn jaisa kyun banun oo...
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">ooo ooo ooo ooo
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">ooo ooo ooo ooo
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Raatein dengi bata
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Neendon mein teri hi baat hai
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Bhoolun kaise tujhe
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Tu toh khayalon mein saath hai
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Bekhayali mein bhi tera
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">hi khayaal aaye
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Kyun bichhadna hai zaroori
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">ye sawaal aaye
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>BRIDGE</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Nazaron ke aage har ik manzar
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ret ki tarah bikhar raha hai
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Dard tumhaara badan mein mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Zeher ki tarah utar raha hai
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Nazaron ke aage har ik manzar
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ret ki tarah bikhar raha hai
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Dard tumhaara badan mein mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Zeher ki tarah utar raha hai
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>OUTRO</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Aa zamaane aazma le roothta nahin
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Faaslon se hausla ye toot'ta nahin
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>
</span><span class="_1zlI0">Naa hai woh bewafa aur na
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">main hoon bewafa
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dm</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">F</span>
</span><span class="_1zlI0">Woh meri aadaton ki tarah
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">chhoot'ta nahin
</span></span><div class="-e18B">X</div></pre>