<title>Dil Ka Dariya Chords</title>
<h1> Dil Ka Dariya Chords </h1>
<br/>

<h4> Strumming Pattern </h4>
<p> D - D - DUDU - D </p>
<p> <strong> Capo on 4th Fret </strong> </p>
<br/>
<img src="https://images.genius.com/a7b9543921e5d93edc8f11d5ae4e6ca4.939x939x1.jpg" width="275" height="275">

<div>
</br>

<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0">
</div>
<div class="_3i1ps">
</div>
</div>
</div>

<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">
</span><span class="_1zlI0"><mark>INTRO</mark>

</span><span class="_2J-ci"><span class="_1zlI0">       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Dil ka dariya beh hi gaya
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Ishq ibadat ban hi gaya
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Khud ko mujhe tu sonp de
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Meri zaroorat tu ban gaya
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE-1</mark>

</span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Baat dil ki nazron ne ki
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Sach keh raha teri kasam
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Tere bin ab na lenge ik bhi dam
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujhe kitna chahne lage hum
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Tere bin ab na lenge ik bhi dam
</span></span><span class="_2J-ci"><span class="_1zlI0">       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujhe kitna chahne lage hum
</span></span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Tere saath ho jayenge khatam
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujhe kitna chahne lage hum
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE-2</mark>

</span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Baat dil ki nazron ne ki
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Sach keh raha teri kasam
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Tere bin ab na lenge ik bhi dam
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujhe kitna chahne lage hum
</span></span><div class="-e18B">X</div></pre></code>