<title>Hawayein Chords</title>
<h1> Hawayein Chords </h1>
<br/>

<h4> Strumming Pattern </h4>
<p> D UDUD UDUD </p>
</br>
<img src="https://i.scdn.co/image/ab67616d00001e020f29b052ea18eb757ec7ca9a" width="250" height="250">

<div>
</br>

<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0">
</div>
<div class="_3i1ps">
</div>
</div>
</div>
<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">
<mark>INTRO</mark>

</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujh ko… main rakh loon wahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Jahaan pe kahin
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hai mera yaqeen.
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Main jo… tera naa huaa
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Kisi ka nahin…
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Kisi ka nahin.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_2J-ci"><span class="_1zlI0">                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaayein jaane kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hawayein, hawayein…
</span></span><span class="_2J-ci"><span class="_1zlI0">                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaayein tujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hawayein, hawayein.
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Begaani hai yeh baaghi
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hawayein, hawayein
</span></span><span class="_2J-ci"><span class="_1zlI0">                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye mujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hawayein, hawayein.
</span></span><span class="_2J-ci"><span class="_1zlI0">                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Le jaayein jaane kahaan,
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">na mujhko khabar
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na tujhko pataa…
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">O…..ho…
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>
</span><span class="_1zlI0">(With arpeggio strumming)
</span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Banaati hai jo tu…
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Woh yaadein jaane sang
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">mere kab tak chale
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Inhi mein to meri…
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Subah bhi dhalein
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Shamein dhalein
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Mausam dhalein.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">(Now With Actual strumming)
</span><span class="_2J-ci"><span class="_1zlI0">               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Khayalon ka shehar…
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu jaane tere hone se hi aabaad hai
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Hawayein haq mein…
</span></span><span class="_2J-ci"><span class="_1zlI0">               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Wohi hai aate jaate jo tera naam le.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Deti hain jo sadayein
</span></span><span class="_2J-ci"><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hawayein, hawayein
</span></span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na jaane kya batayein
</span></span><span class="_2J-ci"><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hawayein, hawayein.
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">hawayein, hawayein
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye mujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hawayein, hawayein.
</span></span><span class="_2J-ci"><span class="_1zlI0">                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Le jaayein jaane kahaan,
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">na mujhko khabar
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na tujhko pataa…
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">O…..ho…
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>
</span><span class="_2J-ci"><span class="_1zlI0">                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Chehra.. kyun milta tera
</span></span><span class="_2J-ci"><span class="_1zlI0">               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Yun khwabon se mere
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ye kya raaz hai?
</span></span><span class="_2J-ci"><span class="_1zlI0">                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Kal bhi.. meri na thi tu
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Naa hogi tu Kal
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Meri aaj hai.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_2J-ci"><span class="_1zlI0">                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Teri hai meri, saari wafayein wafayein
</span></span><span class="_2J-ci"><span class="_1zlI0">                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Maangi hai tere liye duaayein duaayein
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">hawayein, hawayein.
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye mujhe kahaan
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hawayein, hawayein.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye jaane kahaan (hawayein hawayein)
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan (hawayein hawayein).
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye jaane kahaan (hawayein hawayein)
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan (hawayein hawayein).
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye jaane kahaan (hawayein hawayein)
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan (hawayein hawayein).
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Le jaaye jaane kahaan (hawayein hawayein)
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Le jaaye tujhe kahaan (hawayein hawayein).
</span></span><span class="_1zlI0">(G)O….....(D)ho.....
</span><div class="-e18B">X</div></pre></code>

