<title>Nazm Nazm Chords</title>
<h1> Nazm Nazm Chords </h1>
<br/>

<h4> Strumming Pattern </h4>
<p> DU - UD (Give Palm Muting)</p>
<br/>
<img src="https://c-sf.smule.com/rs-s79/arr/8e/6f/6ac33751-47c5-42df-bbd4-135436ebc32f_1024.jpg" width="300" height="300">

<div>
<br/>
<br/>

<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0">
</div>
<div class="_3i1ps">
</div>
</div>
</div>

<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0">G  D  C  D
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na na…
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na Na na…
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu nazm nazm sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Honthon pe thehar ja
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Main khwab khwab sa teri
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Aankhon mein jaagun re
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu ishq ishq sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Rooh mein aake bas ja
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Jis aur teri shehnaai
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Uss ore main bhaagun re.
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na na…
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na Na na…
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>BRIDGE</mark>
</span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Haath thaam le piya
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Karte hain vaada
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Ab se tu aarzu
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu hi hai iraada.
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Mera naam le piya
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Main teri rubaai
</span></span><span class="_2J-ci"><span class="_1zlI0">                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Teri hi to piche piche
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Barsaat aayi, barsaat aayi.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu itrr itrr sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Saanson mein bikhar jaa
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Main faqeer tere qurbat ka
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tujhse tu maangun re.
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu ishq ishq sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Rooh mein aake bas ja
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Jis aur teri shehnaai
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Uss ore main bhaagun re.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE-1</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Mere dil ke lifaafe mein
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Tera khat hai janiya
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Tera khat hai janiya
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Nacheez ne kaise paa li
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Kismat yeh janiya ve.
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Oh mere dil ke lifafe mein
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Tera khat hai janiya
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Tera khat hai janiya
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>
</span><span class="_1zlI0">Nacheez ne kaise paa li
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Kismat yeh janiya ve.
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu nazm nazm sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Honthon pe thehar ja
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Main khwab khwab sa teri
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Aankhon mein jaagun re
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Main khwab khwab sa teri
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Aankhon mein jaagun re
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Tu ishq ishq sa mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Rooh mein aake bas ja
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Jis aur teri shehnaai
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Uss ore main bhaagun re.
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na na…
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na… Na Na na…
</span></span><div class="-e18B">X</div></pre></code>