<h1>Sun Mere Humsafar Chords</h1>
</br>

<div>
	<section>
		<h4> Strumming Pattern </h4>
		<p> DDU UDU </p>
		</br>
	</section>
		<h4> Intro </h4>
		<p> simple G strumming </p>

		</br>

		<h4> Verse </h4>
		</br>
		<p> G </p>
		<p> Sun Zaalima Mere </p>

	<section>

	</section>
</div>
