<title>Sun Mere Humsafar Chords</title>
<h1>Sun Mere Humsafar Chords</h1>
</br>
<h4> Strumming Pattern </h4>
<p> DDU - UDU </p>
</br>
<img src="https://www.comingtrailer.com/images/poster/Badrinath-Ki-Dulhania2.jpg" width="250" height="300">

<div>
</br>
<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0">
</div>
<div class="_3i1ps">
</div>
</div>
</div>
<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">
<mark>INTRO</mark>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Sun zaalima mere
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Saanu koi dar na
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ki samjhega zamaana
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Tu vi si kamli
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Main vi sa kamla
</span></span><span class="_2J-ci"><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ishqe da rog sayana
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Ishqe da rog sayana..
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Sun mere humsafar
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Kya tujhe itni si bhi khabar
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>INSTRUMENTAL</mark>

</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Sun mere humsafar
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Kya tujhe itni si bhi khabar
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Ki teri saansein chalti jidhar
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Rahunga bas wahin umrr bhar
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Rahunga bas wahin umrr bhar, haaye
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>Pre-CHORUS</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Jitni haseen ye mulakatein hain
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Unse bhi pyari teri baatein hain
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Baaton mein teri jo kho jaate hain
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Aaun na hosh mein main kabhi
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Baahon mein hai teri zindagi, haaye
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Sun mere humsafar
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Kya tujhe itni si bhi khabar
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>INSTRUMENTAL</mark>

</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Zaalima tere ishq ‘ch
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Ho gayi aa main kamli
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Haaye..
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>VERSE</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Main toh khada kis soch mein pada tha
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Kaise jee raha tha main deewana
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Chhup se aake tune
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Dil mein sama ke tune
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Chhed diya ye kaisa fasana
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>Pre-CHORUS</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Muskurana bhi tujhi se seekha hai
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Dil lagane ka tu hi tareeka hai
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Aitbaar bhi tujhi se hota hai
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Aaun na hosh mein main kabhi
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Am</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Baahon mein hai teri zindagi, haaye
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Hai nahi tha pata
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Ke tujhe maan lunga Khuda
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Ki teri galiyon mein iss qadar
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Aaunga har pehar
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark>CHORUS</mark>

</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Sun mere humsafar
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Kya tujhe itni si bhi khabar
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Ki teri saansein chalti jidhar
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Rahunga bas wahin umrr bhar
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Rahunga bas wahin umrr bhar, haaye
</span></span><div class="-e18B">X</div></pre></code></section>

</section>
</div>
