<title>Alternate picking</title>

<h2> ALTERNATE PICKING </h2>
<br>
<li class="list-group-item">
<p>
Alternate picking is a guitar playing technique that involves strictly alternating downward and upward picking strokes in a consecutive run. It is the most common method of plectrum playing.
<br><br>
The description of alternate picking is very obvious. You downstroke the first note and upstroke the next note and so on. You simply continue alternating the picking direction regardless of what you are playing.
<br><br>
The technical advantages of alternate picking have made it a crucial component of technical genres of music, such as rock and metal, though, alternate picking can be used in any music style as well.
<br><br>

<h4>History</h4>
<br>
<p>
Alternate picking is barely something new. It's been around ever since instruments such as the Mandolin were developed. Alternate picking is also employed by Balalaika players, as well as Bouzouki players and pretty much by any instrument that requires the player to pluck the strings using a plectrum. Ever since the rise of popularity of the modern guitar, the pick has been automatically associated with it, especially with the electric guitar. Early electric guitar players, though, still used their fingers and it's hard to tell exactly who was the first mainstream player to employ a pick, much less who was the one to endorse alternate picking.

</p><br>

<h4>Famous performers</h4>
<br>
<h5>Yngwie Malmsteen</h5>
<p>
Yngwie Johan Malmsteen is a Swedish guitarist. Malmsteen became known in the 1980s for his neoclassical metal playing style in heavy metal. Yngwie Malmsteen generalized the idea of picking every single note.
</p><br>
<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/BXrXgYS2UFQ?autoplay=1">
</iframe></center>

<br>
<h5>Paul Gilbert</h5>
<p>
Paul Brandon Gilbert is an American hard rock/heavy metal guitarist. He is best known as the co-founder of the band Mr. Big. He also released several albums with Racer X. After Mr. Big's disbandment in 1996, Gilbert started a solo career and released numerous solo albums. He is also featured in various collaborations and guest appearances on other musicians' albums.
<br>
Paul Gilbert had his own section in the British guitar magazine "Total Guitar," where he often demonstrated guitar techniques.
</p><br>
<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/CpJNUGHxC3M?autoplay=1">
</iframe></center>

<br>
<h5>John Petrucci</h5>
<p>
John Peter Petrucci is an American guitarist, composer, and producer. He is best known as a founding member of the progressive metal band Dream Theater.
<br>
Petrucci is recognized for his incredible guitar skills. One of the most famous is his high-speed alternate picking which, as he declares, needs a "strong sense of synchronization between the two hands."
</p><br>
<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/mRbJd4X04Vs?autoplay=1">
</iframe></center>
<br><br>
<h4>Specific properties of technique</h4>
<br>
<p>The fundamental concept of alternate picking is that you pick a note, and then you pick the next one with the opposite stroke.
<br><br>
There are two things you should consider of using alternate picking: the position of your right hand and the way you hold the pick. Unlike the classical guitar, the acoustic and the electric guitar provide a possibility to choose your own technique for the right hand. Classical guitar players are supposed to hold right hand in a certain manner, but as an electric guitar player, a right-hand technique is "wrong" if it doesn't allow you to sound good or reach a certain level of technical proficiency.
<br><br>
There are two main aspects you need to keep in when it comes to using an alternate picking technique:
<ul><li>
It should allow you to play comfortably.</li><li>
It should allow you to play clean.</li><br>
</ul>
</p>

<h4>Learning advice and common mistakes</h4>
<p>
Hand synchronization is a key point to the right applying of alternate picking. Your hands have to work together. That means one note fretted by the left hand at the same time as one note picked with the right.
<br><br>
You must be equally good with downstrokes and upstrokes, because you'll be playing half your notes with each. If you're not good in one of these strokes, work the weak stroke (plausible – it'll be the upstroke) until it’s not weak. Run through your picking licks starting on the contrary pick stroke, so that you learn them accenting on the weak stroke.
<br><br>
Most of the motion should come from the wrist, so don't worry about having any elbow movement, but all the smaller movements should come from the wrist.
<br><br>
Don't neglect flexibility. Because of simplicity of alternate picking, people tend to underestimate how many lines there are that your hand has to be able to play. You need to be able to do more than run scales – you need to hop strings, play loud or quiet, dig in or barely touch, create artificial harmonics, play with swing or play straight – and importantly, be able to do all of the above without thinking.
</p>
</li>