<title>Bend</title>

<h2>BEND </h2><br>
<li class="list-group-item">
<p>
Bend is a technique, that performed by playing a string, then pushing the string up or down with the fingers to create a pitch change.
<br><br>
You should be pushing mainly your wrist upwards to create the pitch change. Putting unfretted fingers behind the finger used to bend can provide more strength to the bend, and more accuracy as well. It can also be produced mechanically with a tremolo arm.
<br><br>
The more a note is bent, the higher the pitch becomes. On an electric guitar, it is possible to bend strings up to 2 whole tones (or even more) higher than the note of the original fret. On an acoustic guitar, it is harder to bend the strings, and bends of 2 whole tones on acoustic guitars aren't usual.
<br><br>
The top three strings are usually bent by pushing them up, while the bottom three strings mostly are bent towards the ground.
</p><br>


<h4>Types of Bends</h4>
<p>
<b>Regular bend </b> is when you sound the note before bending it, and then while the note is still ringing, you bend the note to raise the pitch to whatever you want. Bends are useful if you want to accentuate a certain note. For example, if your target was E, you would place a D note, and then bend it up to an E note.
<br>
Another is the <b>gradual bend</b>. This is the same as the regular bend, except you can take extra time in the actual bending of the note. This is most effective when using an electric guitar with some kind of distortion or other effects to make the note sustain. If you're using an acoustic, or the note doesn't sustain long enough, the note will have died out by the time you finish bending it.
</p><br><br>

<h4>Pre-bending</h4>
<p>
<b>Pre-bending</b> is executed by bending the note before plucking the string so the pitch of the bent note is sounded. This is usually followed by a release.</p><br>

<h4>Tablature notation</h4>
<p>
In tabs, bends are usually shown by the letter 'b', pre-bends are shown by 'pb'. Tablature notation shows string that is bent and tone of the string to be achieved. <br>Example:

<br>
e|------------------|<br>
B|------------------|<br>
G|------------------|<br>
D|--12b13-----------|<br>
A|-----------14pb12-|<br>
E|------------------|<br><br>

In Tab Pro bends are shown as followed: <br>

<img src="https://cdn.ustatik.com/storage/wiki/media/a/4/a41f535368d8051f5f8606c02964f92d.png@534"><br>

Pre-bends:<br>
<img src="https://cdn.ustatik.com/storage/wiki/media/a/7/a7bfbeb2a34c0e88960c3b420029ed24.png@534"><br>
</p><br>

<h4>Songs for learning bends</h4><br>
<b>Red Hot Chili Peppers - Californication (solo)</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/I6JdRNKrmwM?autoplay=1">
</iframe></center><br><br>

<b>Switchfoot - Meant to Live</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/Ti-R1f1sju0?autoplay=1">
</iframe></center><br><br>

<b>Pearl Jam - Alive (solo)</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/w1fjogCeOcU?autoplay=1">
</iframe></center><br>


</li>