<title>Hammer-on</title>
<h2>HAMMER-ON</h2>
<br>
<li class="list-group-item">
<p>
Hammer-on is a technique that is achieved by plucking a string, and quickly pressing down a fret on the same string while it still sounds.
<br><br>
This will cause the second note to sound, even though the right hand only produces the first note. The vibrations, caused by the sound of the first note will be transferred to the sound of the second note.
</p>
<br>


<h4>Why it is used?</h4><br>
<p>
The hammer-on is used by guitarists to improve the smoothness and the flow in the songs they play. Without hammer-ons, a song will sound very simple and won't reach its full potential.
<br>
Hammer-ons are mostly used in solos, as well as in fingerpicking and arpeggios.
<br>
Hammer-ons are useful for making passages easier for your picking hand by producing the sound of a note with your fretting hand.
<br>
Hammer-ons are usually used together with pull-off technique as a part of legato.
</p><br>

<h4>History of the technique</h4><br>
<p>
In "Ellis's Thorough Course For 5 String Banjo" written around 1900, the term 'Hammer on' is used to define the action of performing technique called 'the Shake': "The Shake, which is marked 'tr', is played in the following manner. Strike (pick) the first note only with the right hand & the remainder of the passage with the 2nd finger of the left hand, by 'hammering on' the string while it is vibrating".
<br>
The term hammer-on was first created by Pete Seeger in his book "How to Play the 5-String Banjo" in 1962.
<br>
Though now it's impossible to name the first guitarist, who applied the hammer-on technique to guitar, it needs to be said that Eddie van Halen pushed the limits of hammer-on expertise and spiced it up with a tapping technique.
</p><br>

<h4>Tablature notation</h4><br>
<p>
In tabs, hammer-ons are usually represented by the letter 'h' accompanied by numbers to the left and right. <br>
Example:<br>

e|-----|<br>
B|-7h8-|<br>
G|-----|<br>
D|-----|<br>
A|-----|<br>
E|-----|<br><br>


<h4>Songs for practicing Hammer-on</h4><br><p>
<b>Led Zeppelin - Over The Hills And Far Away</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/Ee33FsDANk0?autoplay=1">
</iframe></center>
<center><b>Original track</b></center><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/WbkcYKKIh90?autoplay=1">
</iframe></center>
<center><b>"Over the Hills and Far Away" guitar lesson</b></center>
</p>

</li>