<title>Slide</title>

<h2> Slide (technique) </h2><br>
<li class="list-group-item">
<p>
A slide is a technique of "sliding" your left-hand finger across one or more frets to reach another note. To perform a slide, pluck the first note and then move up or down to the second note on the same string.
<br><br>
From one point of view, slides are similar to bends, because they can be used to produce a "swooping" effect between two notes. But they are different from bends because, with a slide, you won't get all the notes in-between each semitone.
<br><br>
<p>

<h4>Features</h4><br>
<p>
A slide is one of the ways of getting from one note to another. We can hit a string, and then while the note is sounding, slide up or down to another note. Sometimes this is an alternative to just playing the first note, then playing the second note. It makes note sequences sound smoother.
<br><br>
You need to maintain the constant pressure on the string throughout the whole length of the slide. A slide can be as short as a single fret or as long as the entire length of the fretboard. Slides can also be done with chords.
<br><br
The "slide from nowhere" is an impressive trick. To get to the 10th fret of the 2nd string using a slide from nowhere is usually performed like this: start next to the first fret of that string, and then slide up to the 10th fret without picking the note. While you're sliding, some sound will be produced, and it will give the effect that you just slid up from nowhere. This is a great way to start a solo or lead line.
<br><br>
The "slide into nowhere" is the opposite. For example, we could sound the note on the 10th fret of the 2nd string, and then just slide down until we slide right off the string. This gives the effect that the sound just slid down into nowhere. This is a neat trick to include into lead lines; it can be applied at the end of phrases. There is a variation that includes the "sliding into nowhere" of multiple notes. For example, playing a chord, and then sliding it down into nowhere.
<br><br>
A slide can be used instead of a bend and release: slide from the desired note up to the note above it, and then back down. It makes a slightly different sound than the bend and release.
<br>
Sliding can be a useful way of getting from one position on the guitar to another. For example, when the finger is at the third position, slides can be applied to certain notes, to slide into the next highest position. This is a good way of doing things because otherwise, guitarists usually end up running out of fingers, or not being able to stretch far enough.
<br>
</p>
<br>
<h4>Tablature notation</h4><br>
<p>
In tabs, slides are usually represented with a slash '/' symbol for slides up and backslash '\' symbol for slides down. <br>
Example:<br><br>

e|-----------------|<br>
B|----------10\8---|<br>
G|----------10\8---|<br>
D|---9/11----------|<br>
A|---9/11----------|<br>
E|-----------------|<br><br>

<img src="https://cdn.ustatik.com/storage/wiki/media/6/0/60816cc08762bc30368bc61ee9b2942d.png@534" style="width: 300px;">
</p>


<h4>Learning advice and common mistakes</h4><br>
<p>
Sliding is a relatively easy technique, though you can experience some troubles with it.
<ol>
<li>If you produce an uneven tone, keep your sliding finger pressed down evenly on the string during the duration of the slide.</li>
<li>If you feel a lag in sliding, possibly, you are gripping the neck too tightly. As a result, you make a slow slide that doesn't sound smooth. Try to relax your hand and lighten your grip. Your fretting hand should move freely, but the note should keep ringing.</li>
<li>You may also find that you miss the targeted note. To avoid this, keep your eyes on the slide when you perform it, especially in cases of long slides, to ensure an accurate result.</li>
<li>Another reason for problems in performing slides can be the position of your thumb. In the case of short slides, you often don't have to move your thumb, in contrary to the longer ones.</li>
<li>Practice sliding with all your fingers, even with a pinky.</li><br>
</ol>
</p>

<h4>Songs for practicing slides</h4><br>
<p>
<b>The White Stripes - Seven Nation Army</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/0J2QdDbelmY?autoplay=1">
</iframe></center>
<center><b>Original track</b></center><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/fLCXZs6SWFQ?autoplay=1">
</iframe></center>
<center><b>"Seven Nation Army" Marty Schwartz' guitar lesson.</b></center><br><br>

<b>Chuck Berry - Johnny B. Goode</b><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/I8JULmUlGDA?autoplay=1">
</iframe></center>
<center><b>Original track</b></center><br><br>

<center><iframe width="500" height="400"
src="https://www.youtube.com/embed/HCeUBf37Sro?autoplay=1">
</iframe></center>
<center><b>"OChuck Berry - Johnny B. Goode" Marty Schwartz' guitar lesson.</b></center>
</p>
</li>