<title>Major Scale</title>
<h2> MAJOR SCALE </h2> <br>

<li class="list-group-item"> 
<p>The major scale is your starting point should be the first scale you learn, because it is THE basis of chords and other types of scales. The major scale is actually the basis of Western music as we know it. <br> <br>

If you learn the major scale and its applications, you will be able to understand how chords are constructed (it’s not that complicated 🙂 ), know why your favorite songs sound the way they do, play great arpeggios and be able to write your own songs. And all this from one scale, not bad! <br> <br>

So, let’s start with what a scale actually is, shall we? <br>

A scale is nothing more, than a group of 7 notes, each at a given distance of intervals apart, sounding in harmony when played together. Scales are defined based on the intervals between the individual notes. Intervals are the spaces between each note in a scale. </p> <br>


<h3> MAJOR SCALE GUITAR BASICS </h3> <br>
<p>The major scale has a happy, upbeat quality to it. The intervals of the major scale are as follows:
<br><b><center>
1  W  2  W  3  H  4  W  5  W  6  W  7  H  1
<br>
W = whole step (or 2 fret interval)
<br>
H = half step (or 1 fret interval)
</center></b>
</p><br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-e-string.jpg" style="width:600px;"><br><br>

<p>
The above is meant to show you the intervals of the major scale. Since the root is on the E note (open low E string), this is an E major scale. Once we return to the root at fret 12, the E note one octave higher than the open E, the scale would start over again, so it can be viewed as a cycle.
<br><br>
Using just one string to play the scale is not really realistic, so we can transfer the individual notes and the intervals to the higher pitched strings. You could work it out yourself, since you should already know the relation of strings, and it would look like this.
<br><br>
Note, that this time our root note is at fret 3 of the low E string, which is a G note, so this is a G major scale.
<br><br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-pos-1.jpg" style="width:600px;"></p><br>

<p>
As you can see, once we reach the root G note one octave higher at fret 5 of string D, we start the scale over again, with the same intervals.
<br><br>
All ascending major scales rooting on the low E string have this shape, which means this is a movable scale. You’ll need to remember this scale shape and pattern of note intervals, as it’s the fundamental building block of chords and other scales as well. It helps to visualize the shape when you are learning it.
<br><br>
The above is actually the first of 5 shapes commonly used to play the major scale, which takes us onto bigger horizons.
<br><br>
As you now know, the major scale is made up of intervals. The above scale shape had it's root on the E string, but it doesn’t have to be rooted there, it can be rooted anywhere, as long as you stick to the pattern of intervals the major scale requires.
<br><br>
Have a look at the below diagram, it shows the major scale roots on all the strings, as well as the 5 shapes used to play the major scale. Don’t worry, you’ll understand this in a sec.
</p>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard.jpg" style="width:600px;"><br><br>

<ul>
Yes, the first time I saw that, I said WOW as well. It seems like a big mess at first, but it’s not. The above diagram is meant to show you the interconnectivity of the major scale across the fretboard.

<li>First, notice that I chose C to be the key of this major scale, as you can see by the gray dots (have a look, all of the gray dots are on C notes).</li>
<li>Now have a look at the individual patterns, termed pattern I through V. Those are all major scale patterns, each one movable of course. The gray dots are always the root note of the given pattern (C in this case).</li>
<li>Notice that the notes in each pattern are a given number of intervals apart, as specified by the major scale. This means that if we play any one pattern, we would be playing a voicing of the C major scale.</li>
<li>If you look at the pattern of intervals horizontally across any given string, they will all exhibit the same major scale pattern of intervals. </li>
<li>If you learn the individual scale shapes from the above diagram, with the positions of the given shape’s root note, you’ll be able to root your major scale on any string, at any fret.</li>
<li>These patterns repeat from fret 12, so the red dots across fret 12 are actually already a repetition of the red dots at fret 0 (open string), fret 13 would have the same notes as fret 1, and so on…</li>
</ul>
<br>
To make things a but easier on your eyes, here are the individual major scale shapes in order:

<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard-pattern-1.jpgv" style="width:600px;"><br><br>

<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard-pattern-2.jpg" style="width:600px;"><br><br>

<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard-pattern-3.jpg" style="width:600px;"><br><br>

<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard-pattern-4.jpg" style="width:600px;"><br><br>

<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-scale-fretboard-pattern-5.jpg" style="width:600px;"><br>

</li>