<title>Minor Scale</title>
<h2> MINOR SCALE </h2> <br>

<li class="list-group-item"> 
<p>The minor scale (aka Aeolian mode) should be the second scale you learn. It is formed from the 6th degree of the major scale, so if you took the time to really learn the major scale across the fretboard, you are half way in knowing the minor scale already. <br>
</p>
<p>The major scale has a happy, upbeat quality to it. The intervals of the major scale are as follows:
<br><b><center>
1 W 2 H b3 W 4 W 5 H b6 W b7 W 8(1)
<br>
W = whole step (or 2 fret interval)
<br>
H = half step (or 1 fret interval)
</center></b>
</p><br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-scale.jpg" style="width:600px;"><br><br>

<p>
The above is a G minor scale rooting on the low E string (gray dot). This is a movable scale as well, so if you root it anywhere on the low E string, the scale shape woulf not change. You can play it rooting off any string, just take care to keep to the note intervals.
<br><br>
</p>

<h3> NATURAL VS HARMONIC VS MELODIC MINOR SCALES </h3><br>
<p> The minor scale in its purity is called the natural minor scale, and it is the base for 2 more scales, the harmonic minor scale (sharp 7th degree), and the melodic minor scale (sharp 6th and 7th degrees).
<br><br>
To describe this, here are the 3 minor scale variations in the key of A.</p><br>

<img src="https://i.ibb.co/QjTVF08/table1.jpg" style="width: 950px;"><br> <br>

<b><p> Since the scales are a bit different, the chords you can play on these scales will be a bit different as well:
</p></b>

<img src="https://i.ibb.co/C0CmBFR/table2.jpg" style="width: 950px;"><br> <br>
</li>