<title>Minor Pentatonic Patterns</title>
<h2> MINOR PENTATONIC SCALE </h2> <br>

<li class="list-group-item"> 
<p>Having read the theory behind the pentatonic scales, you should already be familiar with the basic intervals and use of the major and minor pentatonic scale.
<br> <br>
It is now time to learn how to use the minor pentatonic scale, which is a must if you want to learn to play lead guitar and improvise.
<br> <br>
This practical guide to using the minor pentatonic scale will be of true benefit to you once you are familiar with your basic lead guitar techniques. You'll will now learn to use the scale all over the fretboard, but keep in mind that playing the notes 1 by 1 will not sound good in itself. You really need to apply vibrato to your notes, skip strings, slide between notes, and so on.
<br>
So, without further ado, lets begin learning about how to use the minor pentatonic scale.
<br> <br>
The reason many great guitarists in various genres use the minor pentatonic scale is due to the fact that even though it is simple, it sounds great. Most beginner guitarists learn to use the minor pentatonic scale first when they start soloing, and some just stick with it.
<br> <br>
My opinion is that if you want to play blues or rock, you could play the minor pentatonic forever without looking at any other scale. But if you want to get different sounding solos, you'll need to learn the modes of the major scale. Either way, if you're just starting out and experimenting with lead guitar, the minor pentatonic will be your best starting point.
</p>
<br>
<h3>MINOR PENTATONIC SCALE INTERVALS</h3><br>
<p>
The scale is made up of five notes per octave, that's why it has the word "penta", meaning 5 in Greek. It is similar to the natural minor scale, the alteration is that you need to omit the second and the sixth notes from the minor scale.
<br> <br>
Here is the "equation" of the minor pentatonic, have a look at how it relates to the natural minor scale steps as well:
</p>

<img src="https://i.ibb.co/qxsCQnk/table3.jpg" style="width:900px;"><br><br>
<p>
The intervals used to construct the minor pentatonic are important to remember, since when you'll be playing in any given key, you will often refer to the "flat third" or the "fifth", instead of naming out the notes.</p><br><br>

<h3>MINOR PENTATONIC SCALE SHAPES ON GUITAR</h3>
<p>
You may already know the intervals between the notes of the minor pentatonic scale, and can also play its first shape. But did you know that there are 4 other forms to the minor pentatonic?
<br><br>
The different shapes are predefined by the scale intervals themselves, and serve as a visual guide to guitarists, helping us remember the scale pattern.
<br><br>
The 5 forms of the minor pentatonic make it possible to play the scale in any key anywhere on the fretboard. Here are the 5 forms of the minor pentatonic connected across the fretboard in the key of E.
<br><br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shapes.jpg" style="width: 900px;"><br><br>

<h4> Minor Pentatonic Shape 1 </h4>
<p>
This is the first, and most well known of the pentatonic forms, since most people learn this first and somehow forget about the rest of the fretboard. Don't get me wrong, you can make up cool solos in this shape alone, but hey, why would you want to restrict yourself to drinking water all your life, when life is so sweet out of the box...
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shape1.jpg" style="width: 900px;"><br>
<br>
<h4>Minor Pentatonic Shape 2</h4>

This is one of my favorite shapes. It contains "BB's box", which is just 5 notes that BB King uses religiously. These 5 notes are the highes 5 notes, notice how easy they are to finger and move in-between. Trust me, you can improvise massive blues solos with these 5 notes alone, just like BB.
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shape2.jpg" style="width: 900px;"><br>
<br>
<h4>Minor Pentatonic Shape 3</h4>
This is an easy shape to remember, but I personally just use it passively. However, the notes on the top 2 strings can provide hours of soulful blues fun.
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shape3.jpg" style="width: 900px;"><br>
<br>
<h4>Minor Pentatonic Shape 4</h4>
The fourth shape of the minor pentatonic is probably the second most used shape, since the notes on the higher 4 strings are easy to finger and provide a barrage of possibilities.
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shape4.jpg" style="width: 900px;"><br>
<br>
<h4>Minor Pentatonic Shape 5</h4>
Again, I usually use pattern 5 passively, mainly to connect shape 4 and shape 1 (which, if you'll remember, comes after shape 5 again), or just to slide into the notes of shape 1.
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-shape5.jpg" style="width: 900px;"><br>

</p>
<br><br>
<h3> CONNECTING THE MINOR PENTATONIC SHAPE FORMS </h3>
<br><p>
After learning the different forms of the pentatonic, you'll want to start connecting the dots, literally 🙂 The world is your oyster, feel free to experiment and move freely between the shapes. If you mess up, you'll hear it straight away, since it won't sound right.
<br><br>
To make things a bit easier, know that there are a couple of popular minor pentatonic patterns that are easy to remember, and fun to play.
<br> <br>
Here are 2 of the most popular patterns in 2 keys I chose at random. You can play these patterns up, down, left, right, sideways, or whatever, its your pick. The thing that makes these patterns terrific is that the notes are always 2 frets apart, which means you just use your 1st and 3rd to play the entire pattern. Easy as pie!
<br><br>
I've marked the points where you can connect the different shape forms, by sliding either your third finger up if you are playing the scale ascending, or your first finger down if you are descending in the scale.
</p>
<br>
<h4> Minor Pentatonic Pattern 1 - Key of G</h4>
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-connected-pattern1.jpg" style="width: 900px;"><br><br><br>

<h4>Minor Pentatonic Pattern 2 - Key of D#</h4>
<br>
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic-connected-pattern2.jpg" style="width: 900px;"><br>
<br><br><br>

<h4> MINOR PENTATONIC SCALE IN DIFFERENT KEYS </h4>
<p>
As you know already, the minor pentatonic scale is a movable scale. The scale shapes we learned above are all movable.
<br>
If you want to see this applied to the various minor keys, click on the minor pentatonic key of your choice below:
<br><br>
<center><b>A - Bb - B - C - C# - D - Eb - E - F - F# - G - G#</b><center>
</p>