<title>Pentatonic Scale</title>
<h2> PENTATONIC SCALE </h2> <br>

<li class="list-group-item">
<p>A pentatonic scale is like any other scale (notes separated by intervals), but it contains just 5 tones, hence the Greek word "pentatonic", which simply means five. Recall that most scales in western music contain 7 notes (e.g. the major scale, minor scale, etc), which makes the pentatonic a smaller scale.
<br><br>
The pentatonic scale has 2 variations - major and minor. These are used very very often in jazz, blues and rock (blues is the basis of rock), and across other genres as well.
<br><br>
The pentatonic scales are a “economy” version of the bigger major and minor scales, as it is cut down to 5 notes. The omitted notes have a definite effect on the overall mood of the music you’ll make.</p> <br>


<h3> MINOR PENTATONIC SCALE </h3> <br>
<table style="width:100%">
  <tr>
    <td>Description</td>
    <td>Minor Pentatonic Scale</td>
  </tr>
  <tr>
    <td>Quality</td>
    <td>Bluesy sounding</td>
  </tr>
  <tr>
    <td>Musical Styles</td>
    <td>Blues, Rock, Heavy Metal, Jazz, Fusion</td>
  </tr>
  <tr>
    <td>Chords</td>
    <td>Minor, Minor Sevenths, Dominant Sevenths</td>
  </tr>
  <tr>
    <td>Intervals</td>
    <td>Root -b3-4-5-b7-Octave<br>
	W+H-W-W-W+H-W</td>
  </tr>
</table><br>
<p>The minor pentatonic scale derives from the natural minor scale (aka Aeolian, the 6th mode of the major scale). To arrive at the minor pentatonic scale, we simply remove the 2nd and flat 6th notes:
<br><b><center>
1 W+H b3 W 4 W 5 W+H b7 W 8(1)</center></b>
<br> 
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/minor-pentatonic.jpg" style="width:600px;"><br><br>

<p>Notice that we left the flat 3rd note as is, which still gives the scale the minor flavor.
<br><br>
The above example originates the scale off of the low E string at fret 3, making it a G minor pentatonic scale, but of course, you can root it on any other string, just mind the tone sequence.
<br><br>
This scale will be one of the most important scales you'll ever learn, so I would advise reading our extended tutorial on the minor pentatonic scale.</p>

<br> <br>

<h3> MAJOR PENTATONIC SCALE </h3> <br><br>
<table style="width:100%">
  <tr>
    <td>Description</td>
    <td>Major Pentatonic Scale</td>
  </tr>
  <tr>
    <td>Quality</td>
    <td>Bright Sounding</td>
  </tr>
  <tr>
    <td>Musical Styles</td>
    <td>Country, Blues, Rock, Jazz, Fusion</td>
  </tr>
  <tr>
    <td>Chords</td>
    <td>Major, Major Sevenths, Dominant Sevenths</td>
  </tr>
  <tr>
    <td>Intervals</td>
    <td>Root -2-3-5-6-Octave<br>
W-W-W+H-W-W+H</td>
  </tr>
</table><br>
<p>As with its minor brother, the major pentatonic scale is made up of 5 notes. It is a major scale, and its notes are derived from the full major scale. To arrive at the major pentatonic scale, we omit the 4th and 7th tones. The scale will still have its major flavor, since the triad notes of major scales (1st, 3rd, 5th) remain untouched.
<br><b><center>
1 W 2 W 3 W+H 5 W 6 W+H 8(1)
</center></b>
<br> 
<img src="https://www.theguitarlesson.com/wp-content/uploads/2012/09/major-pentatonic.jpg" style="width:600px;"><br> <br> <br>

<h4> PRACTICING THE PENTATONIC SCALE </h4>
<ol>
<li>Get used to the boxed shape rooting on the low E string at first. If you get that down, move on to rooting it on the A string.</li>
<li>Don’t just pluck the notes in sequence, mix up the notes.</li>
<li>Skip around the notes of the scale, add lead guitar elements to make it even more interesting.</li>
<li>Try making up short riffs using the notes of the scale and the lead guitar techniques.</li>
</ol>