<title>Scales</title>
<h1> Guitar Scales </h1>
</br>

<ul class="list-group list-group-flush">
	<li class="list-group-item"> <a href='/users/major-scale' style="color: black;"> <strong> <mark> Major Scale </mark> </strong> </a> <br> <br>
	<p> The major scale is your starting point should be the first scale you learn.

	It is the basis of chords and other types of scales, and actually the basis of Western music as we know it. If you learn the major scale, you will be able to understand how chords are constructed , know why your favorite songs sound the way they do, play great arpeggios and be able to write your own songs. <br>
	<a href='/users/major-scale' >  Learn the Major Scale in Detail -->
	</p>
	</li>

	<li class="list-group-item"> <a href='/users/minor-scale' style="color: black;"> <strong> <mark> Minor Scale </mark> </strong> </a> <br> <br>
	<p> The minor scale should be the second scale you learn, it is the most used scale after the major scale.

	It is formed from the 6th degree of the major scale, so if you took the time to really learn the major scale across the fretboard, you are half way in knowing the minor scale already. <br>
	<a href='/users/minor-scale' >  Learn the Minor Scale in Detail -->
	</p>
	</li>

	<li class="list-group-item"> <a href='/users/pentatonic-scale' style="color: black;"> <strong> <mark> Pentatonic Scale </mark> </strong> </a> <br> <br>
	<p> A pentatonic scale is like any other scale (notes separated by intervals), but it contains just 5 tones, as opposed to the major scale and it's modes, which have 7 notes. Because of this, pentatonic scales are an “economy” version of the bigger major and minor scales.

	Pentatonic scales are used very-very often in jazz, blues and rock, and across other genres as well, and is used for soloing. <br>
	<a href='/users/pentatonic-scale' >  Learn the Pentatonic Scale in Detail -->
	</p>
	</li>

	<li class="list-group-item"> <a href='/users/minor-pentatonic' style="color: black;"> <strong> <mark> Minor Pentatonic Scale </mark> </strong> </a> <br> <br>
	<p> This practical guide to using the minor pentatonic scale, one of the most popular scales, will be of true benefit to you once you are familiar with your basic lead guitar techniques.

	You’ll will now learn to use the scale all over the fretboard, the 5 shapes of the scale, and how to connect the shapes to create awesome solos. <br>
	<a href='/users/minor-pentatonic' >  Minor pentatonic scale shapes and patterns -->
	</p>
	</li>
 
  
</ul>