<title>Techniques</title>
<h1> Guitar Techniques </h1>
</br>

<ul class="list-group list-group-flush">
	<li class="list-group-item"> <a href='/users/alternate-picking' style="color: black;"> <strong> <mark> Alternate Picking </mark> </strong> </a> <br> <br>
	<p> Alternate picking is a guitar playing technique that involves strictly alternating downward and upward picking strokes in a consecutive run. It is the most common method of plectrum playing.

	The description of alternate picking is very obvious. You downstroke the first note and upstroke the next note and so on. You simply continue alternating the picking direction regardless of what you are playing.

	The technical advantages of alternate picking have made it a crucial component of technical genres of music, such as rock and metal, though, alternate picking can be used in any music style as well. <br>
	<a href='/users/alternate-picking' >  Learn about Alternate Picking in Detail -->
	</p>
	</li>


	<li class="list-group-item"> <a href='/users/bend' style="color: black;"> <strong> <mark> Bend </mark> </strong> </a> <br> <br>
	<p> Bend is a technique, that performed by playing a string, then pushing the string up or down with the fingers to create a pitch change.

	You should be pushing mainly your wrist upwards to create the pitch change. Putting unfretted fingers behind the finger used to bend can provide more strength to the bend, and more accuracy as well. It can also be produced mechanically with a tremolo arm.

	The more a note is bent, the higher the pitch becomes. On an electric guitar, it is possible to bend strings up to 2 whole tones (or even more) higher than the note of the original fret. On an acoustic guitar, it is harder to bend the strings, and bends of 2 whole tones on acoustic guitars aren't usual.

	The top three strings are usually bent by pushing them up, while the bottom three strings mostly are bent towards the ground. <br>
	<a href='/users/bend' >  Learn about Bending in Detail -->


	<li class="list-group-item"> <a href='/users/hammer-on' style="color: black;"> <strong> <mark> Hammer-on </mark> </strong> </a> <br> <br>
	<p> Hammer-on is a technique that is achieved by plucking a string, and quickly pressing down a fret on the same string while it still sounds.

	This will cause the second note to sound, even though the right hand only produces the first note. The vibrations, caused by the sound of the first note will be transferred to the sound of the second note. <br>
	<a href='/users/hammer-on' >  Learn the Hammer-on in Detail -->
	</p>
	</li>


	<li class="list-group-item"> <a href='/users/slide' style="color: black;"> <strong> <mark> Slide Technique </mark> </strong> </a> <br> <br>
	<p> A slide is a technique of "sliding" your left-hand finger across one or more frets to reach another note. To perform a slide, pluck the first note and then move up or down to the second note on the same string.

	From one point of view, slides are similar to bends, because they can be used to produce a "swooping" effect between two notes. But they are different from bends because, with a slide, you won't get all the notes in-between each semitone. <br>
	<a href='/users/slide' >  Learn about sliding & sweep-picking -->
	</p>
	</li>
 
  
</ul>