<title>Types</title>
<h1> Guitar Family </h1>
</br>

<p> <b> The right type of guitar for you depends on what type of music you want to play, the type of sounds you want to get from your guitar, and what you like the look and feel of. </b> </p> <br>

<ul class="list-group list-group-flush">

	
	<li class="list-group-item"> <strong> <mark> Classical (Nylon String Acoustic) </mark> </strong> <br> <br>
	<p> Classical guitars are also known as nylon-string acoustic guitars due to the fact they use nylon strings. All six strings on a classical guitar are made of nylon, but the lower three strings are wrapped in wire, so it only looks like three strings are made of nylon. </p>

	<ul class="list-nylon-string guitar" style="list-style-type:none;">
	<li style="margin: 10px 0px;"> <img src="https://images-na.ssl-images-amazon.com/images/I/51HnyS4bPZL._AC_SL1200_.jpg" alt="Nylon string guitar" style="width:400px;"> </li> <br>

	<li style="margin: 10px 0px;"> <img src="https://guitargearfinder.com/wp-content/uploads/2019/12/nylon-vs-steel-string-acoustic-guitars.jpg" alt="Nylon strings" style="width:400px;"> 
	<figcaption>Nylon Strings</figcaption>
	</li>

	</ul> <br>
	<p> As you might expect, this type of guitar is the main choice with classical music. Outside of classical music, classical guitars are used in a range of styles including folk, Flamenco, pop, jazz.

	Classical guitars produce a mellow tone due to the nylon strings. You can hit the strings harder to produce a harsher tone, but the overall tone is soft and mellow when compared to other types of guitars. </p> <br>
	<img src="https://images.reverb.com/image/upload/s--aFSw4D9K--/f_auto,t_supersize/v1560612212/podu1hn9abmxya4qbzqj.jpg" alt="Nylon strings guitar" style="width:400px;"> <br> <br>

	<a href='https://www.amazon.in/Ibanez-GA15-NT-6-String-Classical-Natural/dp/B00SKTBZ70/ref=asc_df_B00SKTBZ70/?tag=googleshopdes-21&linkCode=df0&hvadid=396987205362&hvpos=&hvnetw=g&hvrand=12849647825326283280&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9061770&hvtargid=pla-360335722966&psc=1&ext_vrnc=hi' target="_blank">  Amazon link for best product
	</p>
	</li>


	<li class="list-group-item"> <strong> <mark> Steel-String Acoustic </mark> </strong> </a> <br> <br>
	<p> There are two types of acoustic guitars: classical and steel-string. Classical guitars use nylon strings (as explained above) and steel-string guitars are self-explanatory.

	There are three main body types for steel-string acoustic guitars: dreadnought, parlour, and jumbo. There are other variations and shapes outside of these three, but they’re the most popular.

	Steel-string acoustic guitars have a brighter tone when compared to classical guitars.

	This brighter tone makes them the popular choice for styles of music including folk, country, blues, pop, rock, bluegrass, and others.

	Beginners can successfully learn on steel-string acoustic guitars. While the steel strings do require more pressure with your fingers, a good guitar teacher will know how to properly introduce you to the guitar and build up your finger strength. <br>

	<ul class="list-steel-string guitar" style="list-style-type:none;">
	<li style="margin: 10px 0px;"> <img src="https://www.artistguitars.co.nz/assets/full/12700.jpg?20200830160439" style="width:400px;"> </li> <br>

	<li style="margin: 10px 0px;"> <img src="https://img.kytary.com/eshop_co_uk/velky_v2/na/637299957869830000/df27e59e/64763211/kohala-full-size-steel-string-acoustic-guitar.jpg" style="width:400px;"> </li> <br>
	
	</ul>
	<a href='https://www.amazon.in/Yamaha-F310-6-Strings-Acoustic-Natural/dp/B000RVYW7E/ref=sr_1_4?adgrpid=61421490919&dchild=1&ext_vrnc=hi&gclid=EAIaIQobChMI2JCgxuvA7AIV062WCh1mBQSlEAAYASAAEgJr9PD_BwE&hvadid=348165382718&hvdev=c&hvlocphy=9061770&hvnetw=g&hvqmt=b&hvrand=18257841966779844&hvtargid=kwd-298392322989&hydadcr=22537_1906917&keywords=f310+tbs&qid=1603116826&sr=8-4&tag=googinhydr1-21' >  Amazon link for the suggested product </a>
	</p>

	A simple trick you can use to make a steel-string acoustic guitar feel more comfortable to play in the very beginning is to use a capo.

	Place a capo on the fifth fret and suddenly you don’t need to press hard with your fingers anymore.

	Then as your finger strength improves, you can move the capo down until you don’t need it anymore.
	<br>
	<center><img src="https://images-na.ssl-images-amazon.com/images/I/71rEeRq9oyL._SL1500_.jpg" style="width:200px;"></center>
	</li>



	<li class="list-group-item"> <strong> <mark>Electric Guitar</mark> </strong> </a> <br> <br>
	<p> Electric guitars are a versatile type of guitar that comes in many different shapes and sizes.
	</p> <br>
	<center><img src="https://guitargearfinder.com/wp-content/uploads/2019/12/types-of-electric-guitars.jpg"> </center>
	<br>
	<p>The above guitars only scratch the surface on what is possible with electric guitars.

	The type of hardware used on electric guitars can be significantly different from one guitar to the next. This means every electric guitar feels different to play and can do different things.</p> <br>

	<h4>What Styles of Music Can You Play on Electric Guitars?</h4>
	<p>Electric guitars have been used in pretty much all styles of music at some point. They’re the go-to option in countless styles of music such as rock, metal, blues, punk, and more. It’s hard to imagine a heavy metal or rock band not using electric guitars.

	There are two reasons why electric guitars can be used in almost any music style.

	The first is the different tonal options in the guitars. The type of guitar and the pickups in the guitar all change the tone you hear. You can even install different pickups to access different tones.

	The second is the gear you can plug an electric guitar into. There are many types of amps that all shape your guitar tone in different ways. You can go from a vintage blues tone to a modern metal tone by flicking a switch on an amp. </p>

	<img src="https://images-na.ssl-images-amazon.com/images/I/51MKATOl-CL._SL1000_.jpg" style="width:400px;">

	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS0i5E_6xgjyt6zArUaXu9znCfbsszUun72xg&usqp=CAU" style="width:400px;"> <br> <br>

	<a href='https://www.amazon.in/Fender-Squier-Stratocaster-Electric-Guitar/dp/B07TG9F8SL?ref_=Oct_s9_apbd_orecs_hd_bw_b54zIbX&pf_rd_r=85JJGE9RVTTD7T2C3ZPR&pf_rd_p=e5af2a2f-3a0f-56db-9a84-7ece3f5faf82&pf_rd_s=merchandised-search-10&pf_rd_t=BROWSE&pf_rd_i=4654379031' >  Amazon link for the best suggested product
	</li>


	<li class="list-group-item"> <strong> <mark> 12-String Guitars </mark> </strong> </a> <br> <br>
	<p> 12-sting guitars can come in acoustic or electric types and are very similar to play as a regular 6-string guitar. </p>

	<center><img src="https://guitargearfinder.com/wp-content/uploads/2019/12/12-string-guitar-types.jpg" style="width:750px;"> </center> <br>
	<p>The idea behind 12-string guitars is that instead of having six strings, you double up each string. So you end up with six pairs of strings as shown below: </p>
	<br>
	<center><img src="https://guitargearfinder.com/wp-content/uploads/2019/09/12-string-guitar-strings.jpg" style="width:400px;""> </center><br><br>

	<p> A 12-string guitar has a very distinctive sound. Once you learn to recognize it, it will stand out in any song that uses one.</p><br>
	<h4>Can Beginners Play 12-String Guitars?</h4>
	<p>12-string guitars require a lot of finger pressure to properly fret the notes. You need to press down hard enough for two strings to make contact with the fret under each finger, so it is harder to play than a regular 6-string guitar.

	If you’re interested in learning how to play a 12-string guitar, start with a regular 6-string guitar (acoustic or electric). Once you build up your finger strength, you can work your way to playing a 12-string guitar.</p>
	<center><img src="https://cdn.shopify.com/s/files/1/0288/1498/products/crafter-acoustic-guitar-crafter-d8-12eq-n-acoustic-electric-12-string-guitar-with-crafter-case-11927979163684_2048x.jpg?v=1575932829" style="width:400px;"></center>

	</br>
	<a href='https://www.amazon.com/Takamine-P3DC-12-Dreadnought-12-String-Acoustic/dp/B009OAJTV8/ref=sr_1_3?c=ts&dchild=1&keywords=Acoustic-Electric+Guitars&qid=1603118433&refinements=p_n_location_browse-bin%3A2711534011&sr=8-3&ts_id=11971271' >  Amazon link for the best suggested product </a>
	</li>
 
  
</ul>