<title>Hey Jude!!</title>
<h1> Hey Jude!! </h1>
<p> - THE BEATLES </p>
<br/>

<h4> Strumming Pattern </h4>
<p> DDU - UDU </p>
<p> <strong> Capo on 3th Fret </strong> </p>
<br/>	
<img src="https://cps-static.rovicorp.com/3/JPG_500/MI0001/446/MI0001446589.jpg?partner=allrovi.com" width="275" height="275">

<div>
<br/>
<br/>


<section class="_1FQtP O4hNH"><div><div class="_3wqy- _3EVcR _2C5Cf" style="top: 188px; left: -44px;">
<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;">
<span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hey Jude, don’t make it bad, take a sad song and make it better
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Remember to let her into your heart, then you can start to make it better
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hey Jude, don’t be afraid, you were made to go out and get her 
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">The minute you let her under your skin, then you begin to make it better
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And anytime you feel the pain, hey Jude, refrain, don’t carry the world upon your shoulders
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>                            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">For well you know that it's a fool who plays it cool by making his world a little colder
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> INTERLUDE </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>
</span><span class="_1zlI0">Da da da da da da da da
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hey Jude, don’t let me down, you have found her, now go and get her
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Remember to let her into your heart, then you can start to make it better
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">So let it out and let it in, hey Jude, begin, you're waiting for someone to perform with
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>                                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>             
</span><span class="_1zlI0">And don’t you know that it's just you, hey Jude, you'll do, the movement you need is on your
</span><span class="_1zlI0"> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0"> shoulders
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> INTERLUDE </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D7</span>    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>
</span><span class="_1zlI0">Da da da da da da da da
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Hey Jude, don’t make it bad, take a sad song and make it better
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Remember to let her under your skin, then you begin to make it better
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> OUTRO </mark>
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Na na na na na na na na na na na, hey Jude . . . . . 
</span></span><span class="_1zlI0"> 
</span><div class="-e18B">X</div></pre></code></section>