<title>I'm Yours</title>
<h1> I'm Yours </h1>
<p> - JASON MRAZ </p>
<br/>

<h4> Strumming Pattern </h4>
<p> DUDUDU </p>
<p> <strong> Capo on 4th Fret </strong> </p>
<br/>	
<img src="https://4.bp.blogspot.com/_tZkEkSjz8Ak/TRbNKzvtDHI/AAAAAAAAACY/VoGhu3pZW-8/s1600/jasonzl7.jpg" width="275" height="275">

<div>
</br>


<section class="_1M7i8 _1fbrm">
<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 0px; left: 0px;">
<div class="xDGQ0"></div><div class="_3i1ps">
</div></div></div>
<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;">
<span class="_1zlI0"><span class="_1zlI0"><mark> INTRO </mark>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0">Intro Tab (relative to Capo):
</span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">e|-3/5-3----------3/5-2---------------------------------------3/5-3----------|
</span><span class="_1zlI0">B|-3/5-3----------3/5-3----------3/5-0----------0-0h1---------3/5-3----------|
</span><span class="_1zlI0">G|-------------------------------2/4-0----------0-0--------------------------|
</span><span class="_1zlI0">D|---------------------------------------------------------------------------|
</span><span class="_1zlI0">A|---------------------------------------------------------------------------|
</span><span class="_1zlI0">E|---------------------------------------------------------------------------|
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE-1 </mark>
</span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Well you done done me an' you bet I felt it
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I tried to be chill but you're so hot that I melted
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I fell right through the cracks
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">And now I'm tryin' to get back
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Before the cool done run out, I'll be givin it my bestest
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">and nothin's gonna stop me but divine intervention
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I reckon it's again my turn
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">To win some or learn some
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">But I won't hesitate
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">No more, no more
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">It cannot wait; I'm yours
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> VERSE-2 </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Well, open up your mind and see like me
</span></span><span class="_2J-ci"><span class="_1zlI0">                                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Open up your plans and damn you're free
</span></span><span class="_2J-ci"><span class="_1zlI0">                                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Look into your heart and you'll find love, love, love, love
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                                               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Listen to the music of the moment, people dance and sing, we're just one big family
</span></span><span class="_2J-ci"><span class="_1zlI0">                                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>
</span><span class="_1zlI0">And it's our god-forsaken right to be loved, loved, loved, loved, loved
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dsus4</span>
</span><span class="_1zlI0">So I won't hesitate
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">No more, no more
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">It cannot wait, I'm sure
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">There's no need to complicate
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Our time is short
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">This is our fate,
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I'm yours
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> BRIDGE </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Doo do do doo doo do, doo do doo do doo do
</span></span><span class="_2J-ci"><span class="_1zlI0">                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Do you want to come on, scooch on over closer, dear
</span></span><span class="_2J-ci"><span class="_1zlI0">                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>
</span><span class="_1zlI0">And I will nibble your ear
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">| <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>  | <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>  | <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>     | <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>    |
</span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> VERSE-3 </mark>
</span><span class="_2J-ci"><span class="_1zlI0">                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I've been spending way too long checking my tongue in the mirror
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And bending over backwards just to try to see it clearer
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">But my breath fogged up the glass
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">And so I drew a new face and I laughed
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I guess what I'll be saying is there ain't no better reason
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">To rid yourself of vanities and just go with the seasons
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">It's what we aim to do
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Our name is our virtue
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> CHORUS/OUTRO </mark>
</span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dsus4</span>
</span><span class="_1zlI0">But I won't hesitate
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">No more, no more
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">It cannot wait; I'm yours
</span></span><span class="_2J-ci"><span class="_1zlI0">                                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Well, open up your mind and see like me
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Open up your plans and damn you're free
</span></span><span class="_2J-ci"><span class="_1zlI0">                                         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Look into your heart and you'll find that the sky is yours
</span></span><span class="_2J-ci"><span class="_1zlI0">   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">So please don't, please don't, please don't
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dsus4</span>
</span><span class="_1zlI0">There's no need to complicate
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">'Cause our time is short
</span></span><span class="_2J-ci"><span class="_1zlI0">                              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">This oh, this oh, this is our fate
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A7</span>
</span><span class="_1zlI0">I'm yours
</span></span><div class="-e18B">X</div></pre></code></section></section>