<title>Perfect</title>
<h1> Perfect </h1>
<p> - ED SHEERAN </p>
<br/>

<h4> Strumming Pattern </h4>
<p> DDDDDD - DU </p>
<p> <strong> Capo on 1st Fret </strong> </p>
<br/>
<img src="https://cont.p-cdn.us/images/public/int/5/2/1/0/190295710125_1080W_1080H.jpg" width="275" height="275">

<div>
</br>


<code class="_1ck-_">

<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">

</span><span class="_1zlI0"><mark> INTRO </mark>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I found a love for me
</span></span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Darling, just dive right in, and follow my lead
</span></span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Well, I found a girl beautiful and sweet
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I never knew you were the someone waiting for me
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">                                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Cause we were just kids when we fell in love
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Not knowing what it was, I will not give you up this ti-ime
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Darling just kiss me slow, your heart is all I own
</span></span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And in your eyes you're holding mine
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Baby, I'm dancing in the dark, with you between my arms
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Barefoot on the grass, listening to our favourite song
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">When you said you looked a mess, I whispered underneath my breath
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">But you heard it, darling you look perfect tonight
</span>
<span class="_1zlI0">
<mark> VERSE-2 </mark>
</span><span class="_2J-ci"><span class="_1zlI0">                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Well, I found a woman, stronger than anyone I know
</span></span><span class="_2J-ci"><span class="_1zlI0">              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                                          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">She shares my dreams, I hope that someday I'll share her home
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I found a love, to carry more than just my secrets
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">To carry love, to carry children of our own
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">                             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">We are still kids, but we're so in love, fighting against all odds
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I know we'll be alright this ti-ime
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Darling just hold my hand, be my girl, I'll be your man
</span></span><span class="_2J-ci"><span class="_1zlI0">         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I see my future in your eyes
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Baby, I'm dancing in the dark, with you between my arms
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Barefoot on the grass, listening to our favourite song
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">When I saw you in that dress, looking so beautiful
</span></span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>          [ <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> ]
</span><span class="_1zlI0">I don't deserve this, darling you look perfect tonight
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> INTERLUDE </mark>
</span><span class="_1zlI0">| <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>  | % | <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span> | % |
</span><span class="_1zlI0">| <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>  | % | <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>  | % |
</span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Baby, I'm dancing in the dark, with you between my arms
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Barefoot on the grass, listening to our favourite song
</span></span><span class="_2J-ci"><span class="_1zlI0">        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I have faith in what I see, now I know I have met an angel
</span></span><span class="_2J-ci"><span class="_1zlI0">    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">In person, and she looks perfect
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> OUTRO </mark>
</span><span class="_2J-ci"><span class="_1zlI0">  <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G/B</span>     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Dsus4</span>    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>        [ <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> ]
</span><span class="_1zlI0">I don't deserve this, you look perfect tonight
</span></span>	
</span><div class="-e18B">X</div></pre></code>