<title>Photograph</title>
<h1> Photograph </h1>
<p> - ED SHEERAN </p>
<br/>

<h4> Strumming Pattern </h4>
<p> DDDDD - DDDDD </p>
<p> <strong> Capo on 2nd Fret </strong> </p>
<br/>	
<img src="https://i1.sndcdn.com/artworks-000084314548-w6ysb3-t500x500.jpg" width="275" height="275">

<div>
</br>


<section class="_1FQtP O4hNH">
<div>
<div class="_3wqy- _3EVcR _2C5Cf" style="top: 635px; left: 30px;"><div class="xDGQ0"></div><div class="_3i1ps">
<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;">
<span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> INTRO </mark>
</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Loving can hurt
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Loving can hurt sometimes
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">But it's the only thing that I know
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">When it gets hard
</span></span><span class="_2J-ci"><span class="_1zlI0">                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">You know it can get hard sometimes
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">It is the only thing that makes us feel alive
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">We keep this love in a photograph
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">We make these memories for ourselves
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Where our eyes are never closing
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Our hearts were never broken
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">And times forever frozen still
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">So you can keep me inside the pocket of your
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Ripped jeans holding me closer till our
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Eyes meet, you won't ever be alone
</span></span><span class="_2J-ci"><span class="_1zlI0">                         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Wait for me to come home
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> VERSE </mark>
</span><span class="_2J-ci"><span class="_1zlI0">            <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Loving can heal
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Loving can mend your soul
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">And it's the only thing that I know
</span></span><span class="_2J-ci"><span class="_1zlI0">                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I swear it will get easier
</span></span><span class="_2J-ci"><span class="_1zlI0">                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">remember that with every piece of ya
</span></span><span class="_2J-ci"><span class="_1zlI0">             <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                                   <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">It is the only thing we take with us when we die
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">We keep this love in a photograph
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">We make these memories for ourselves
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Where our eyes are never closing
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Our hearts were never broken
</span></span><span class="_2J-ci"><span class="_1zlI0">     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">And times forever frozen still
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">So you can keep me inside the pocket of your
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Ripped jeans holding me closer till our
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Eyes meet, you won't ever be alone
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> BRIDGE </mark>
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And if you hurt me that's ok baby, only
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Words bleed inside these pages you just
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hold me and I won't ever let you go
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> INTERLUDE </mark>
</span><span class="_2J-ci"><span class="_1zlI0">                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Wait for me to come home
</span></span><span class="_2J-ci"><span class="_1zlI0">                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Wait for me to come home
</span></span><span class="_2J-ci"><span class="_1zlI0">                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Wait for me to come home
</span></span><span class="_2J-ci"><span class="_1zlI0">                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Wait for me to come home
</span></span><span class="_1zlI0"> 
</span>
<span class="_1zlI0"><mark> OUTRO </mark>
</span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Oh you can fit me inside the necklace you got when you were
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">16 next to your heartbeat where I 
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                                    <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Should be, keep it deep within your soul
</span></span><span class="_2J-ci"><span class="_1zlI0">           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And if you hurt me that's ok baby only 
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>
</span><span class="_1zlI0">Words bleed inside these pages you just
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>                              <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hold me and I won't ever let you go
</span></span><span class="_2J-ci"><span class="_1zlI0">          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">When I'm away I will remember how you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">A</span>                                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Bm</span>
</span><span class="_1zlI0">Kissed me under the lamp post back on sixth street 
</span></span><span class="_2J-ci"><span class="_1zlI0">                                 <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Hearing you whisper through the phone
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> N.C.
</span><span class="_1zlI0">Wait for me to come home
</span></span><div class="-e18B">X</div></pre></code></section>