<title>Say You Wont Let Go</title>
<h1> Say You Wont Let Go </h1>
<p> - JAMERS ARTHUR </p>
<br/>

<h4> Strumming Pattern </h4>
<p> DDDDDD - DU </p>
<p> <strong> Capo on 3rd Fret </strong> </p>
<br/>
<img src="https://i.ytimg.com/vi/TUnEJM6W-Fw/maxresdefault.jpg" width="350" height="250">

<div>
</br>


<code class="_1ck-_">
<pre class="_3zygO" style="font-size: 16px; font-family: Comic Sans MS, cursive, sans-serif;"><span class="_1zlI0">
<span class="_1zlI0"><mark> INTRO </mark>

</span><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span> <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>

</span><span class="_1zlI0></span>
<span class="_1zlI0"><mark> VERSE-1 </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I met you in the dark
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">You lit me up
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">You made me feel as though
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">I was enough
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">We danced the night away
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">We drank too much
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I held your hair back when
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">You were throwing up
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">Then you smiled over your shoulder
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">For a minute, I was stone cold sober
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                        <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">I pulled you closer to my chest
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">And you asked me to stay over
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">I said, I already told ya
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                               <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">I think that you should get some rest
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0">
<mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I knew I loved you then
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">But you'd never know
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Cause I played it cool when I was 
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Scared of letting go
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I know I needed you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">But I never showed
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">But I wanna stay with you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Until we're grey and old
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                       <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE-2 </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I wake you up with some
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Breakfast in bed
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I'll bring you coffee with a
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">kiss on your head
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">And I'll take the kids to school
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Wave them goodbye
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">And I'll thank my lucky stars for 
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">That night
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> PRE-CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">When you looked over your shoulder
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">For a minute, I forget that I'm older
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                           <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">I wanna dance with you right now, oh
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">And you look as beautiful as ever
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And I swear that everyday you'll get better
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                          <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">You make me feel this way somehow
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I'm so in love with you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">And I hope you know
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Darling your love is more than worth its
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Weight in gold
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">We've come so far my dear
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Look how we've grown
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">And I wanna stay with you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Until we're grey and old
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> VERSE-3 </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I wanna live with you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Even when we're ghosts
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">Cause you were always there for me
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">When I needed you most
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> CHORUS </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">I'm gonna love you till
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">My lungs give out
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">I promise till death we part
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Like in our vows
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">So I wrote this song for you
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Now everybody knows
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>
</span><span class="_1zlI0">That it's just you and me
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Until we're grey and old
</span></span><span class="_1zlI0"> 
</span><span class="_1zlI0"><mark> OUTRO </mark>
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                     <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_1zlI0"> 
</span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>                      <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">D</span>
</span><span class="_1zlI0">Just say you won't let go
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">Em</span>                         <span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">C</span>
</span><span class="_1zlI0">Oh, just say you won't let go
</span></span><span class="_2J-ci"><span class="_1zlI0"><span class="_3bHP1 _3ffP6" style="color: rgb(0, 0, 0);">G</span>
</span><span class="_1zlI0">(end on single strum)
</span></span><div class="-e18B">X</div></pre></code>